:root {
  --text-color: #757575;
  --tittle-color: #212121;
  --accent-color: #2196F3;
}

body {
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.conteiner {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-part {
  color: var(--accent-color);
}

.last-part {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 20px;
}

.conteiner.all-nav > a {
  margin-right: 93px;
}

.conteiner.all-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
}

.nav .item:not(:last-child) {
  margin-right: 50px;
}

.nav .nav-item {
  color: var(--tittle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item.current {
  color: var(--accent-color);
  position: relative;
}

.nav-item.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -28px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.nav .nav-item:hover,
.nav .nav-item:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .contact {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item .contact.link {
  display: flex;
  align-items: center;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

.contact:hover .icon.envelope,
.contact:focus .icon.envelope,
.contact:hover .icon.smartphone,
.contacts .contact:focus .icon.smartphone {
  fill: var(--accent-color);
}

.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  width: 696px;
  height: 120px;
  margin: 0 auto 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  background-color: #2196F3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #FFFFFF;
}

.conteiner-modal {
  padding: 40px;
}

.modal-title {
  font-size: 20px;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field .icon {
  position: absolute;
  top: 45%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #000000;
}

.form-field:focus-within .icon {
  fill: var(--accent-color);
}

.label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 5px;
}

textarea {
  padding: 12px 16px;
  resize: none;
  max-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:hover,
textarea:focus {
  border-color: var(--accent-color);
}

textarea::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.field {
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.checkbox {
  margin-top: 20px;
  text-align: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
}

.custom-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-left: 12px;
  margin-right: 9px;
}

.checkbox-point:checked + .custom-checkbox {
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox-point {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-link {
  color: #2196F3;
  margin-left: 4px;
}

.form-button {
  display: inline-block;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  margin-top: 30px;
  background-color: #188CE8;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.close-modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button:hover,
.close-modal-button:focus {
  border-color: var(--accent-color);
}

.close-modal-button:hover .icon-close-black,
.close-modal-button:focus .icon-close-black {
  fill: var(--accent-color);
}

.icon-close-black {
  width: 11px;
  height: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature {
  display: flex;
}

.feature .feaure-item:not(:last-child) {
  margin-right: 30px;
}

.icon-space {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.feature .feature-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature .feature-text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.secondary-title {
  margin: 0 0 50px 0;
  color: var(--tittle-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.pictures {
  padding-bottom: 94px;
}

.images {
  display: flex;
}

.wrapper-image {
  position: relative;
}

.image {
  display: block;
  z-index: 1;
}

.images .images-item:not(:last-child) {
  margin-right: 30px;
}

.images-text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 370px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
}

.second-bcg {
  background-color: #F5F4FA;
}

.team {
  display: flex;
  justify-content: space-between;
}

.team-member {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.conteiner-team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .team-name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--tittle-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .team-position {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .icon,
.social-link:focus .icon {
  fill: #FFFFFF;
}

.social-links .social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link .icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.company {
  display: block;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 13px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company:hover,
.company:focus {
  border: 1px solid var(--accent-color);
}

.company:hover .icon,
.company:focus .icon {
  fill: var(--accent-color);
}

.client .icon {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .conteiner {
  display: flex;
  align-items: baseline;
}

.footer .link.last-part {
  display: block;
  margin-bottom: 20px;
}

.address .location {
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .address-item:not(:last-child) {
  margin: 0 0 9px 0;
}

.address .address-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .location:hover,
.address .location:focus,
.address .address-contacts:hover,
.address .address-contacts:focus {
  color: var(--accent-color);
}

.footer .last-part {
  color: #FFFFFF;
}

.join {
  margin-left: 70px;
}

.join-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-social-links {
  display: flex;
  flex-direction: row;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link:hover .icon,
.footer-social-link:focus .icon {
  fill: #FFFFFF;
}

.footer-social-link .icon {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}

.sign-up-conteiner {
  margin-left: 93px;
}

.sign-up {
  display: inline-flex;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sign-up-field {
  padding: 14px;
  width: 358px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sign-up-button {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.bcg-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .btn {
  display: inline-block;
  min-width: 73px;
  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #F5F4FA;
  border: none;
  color: var(--tittle-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .btn:hover,
.filter .btn:focus {
  color: #FFFFFF;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

.conteiner-portfolio {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item .link:hover,
.portfolio-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-item {
  background-color: #FFFFFF;
  width: calc((100% - 60px) / 3);
}

.portfolio-item .link:hover .portfolio-overlay,
.portfolio-item .link:focus .portfolio-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.portfolio .portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--tittle-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .portfolio-app {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--text-color);
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */